.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007BFF;
  padding: 1rem 2rem;
  color: white;
}

.navbar h1 {
  font-size: 1.5rem;
  margin: 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-left: 2rem;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
  color: #FFD700;
}
